    <!-- Load Scripts -->
    {{#each conf.scripts}}
      <script src="{{path}}" type="text/javascript"></script>
    {{/each}}

    <!-- Load Config and Scripts -->
    <script>

      // We can add a json middleware and enable this to
      // allow easy access to JSON.stringify()'d data for the client-site.

      // {{#each json}}
      //   define('{{@key}}', function (require) {
      //     return {{{this}}};
      //   });
      // {{/each}}

      // Print conf variables
      define('conf', function(require) {
        return {{{stringify conf}}};
      })

      // Start Marionette.
      require(['apps/chrismadrigal'], function (app) {
        app.start();
      });

    </script>
  </body>
</html>