<!DOCTYPE html>
<html>
  <head>
    <title>{{conf.title}}</title>
    <meta name="description" content="{{conf.description}}">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">

    <!-- IE Meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Favs & Mobile Icons -->
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">

    <!-- Load modernizer first for features detection. -->
    <!--<script src="/vendor/modernizr.js"></script> -->
    <script type="text/javascript" src="//use.typekit.net/ttt3ffc.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- Styles -->
    {{#each conf.styles}}
      <link rel="stylesheet" href="{{path}}" type="text/css">
    {{/each}}


  </head>
  <body>