<section class="contact-info content-section">
  <div class="email">
    <a href="mailto:chrismadrigal2@gmail.com">chrismadrigal2@gmail.com</a>
  </div>
  <hr/>
  <div class="social-links">
    <ul class="unstyled">
      <li><a href="https://github.com/chrismadrigal" target="_blank"><i class="icon-github"></i></a></li>
      <li><a href="http://www.linkedin.com/in/chrismadrigal" target="_blank"><i class="icon-linkein"></i></a></li>
      <li><a href="https://twitter.com/crismas07" target="_blank"><i class="icon-twitter"></i></a></li>
    </ul>
  </div>
</section>