<section class="intro-text">
  <div class="content-section small animated fadeInUp">
    {{!-- <h2>Full-stack Web Developer</h2> --}}
    <blockquote>&#8220;Happiness lies in the joy of achievement and the thrill of creative effort.&#8221;</blockquote>
    <em><span class="dash"></span> Franklin D. Roosevelt</em>
  </div>
</section>
<section class="background">
  <div class="container content-section">
    <img class="profile" src="img/chris.jpg" alt="Chris Madrigal Profile">
    <h3 class="section-title">Background</h3>
    <div class="row">
      <div class="col-md-6">
        <p>My name is Chris Madrigal and I'm a web developer currently based in Santa Cruz, California.
          I have over five years experience with developing front and back end web applications.
        </p>
      </div>
      <div class="col-md-6">
        <p>My passion for innovative technologies has lead me on the path in becoming more versatile
          in my career as a web developer.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="experience">
  <div class="content-section">
    <h3 class="section-title">Experience</h3>
    <div class="timeline">
      <div class="timeline-block clearfix">
        <div class="timeline-marker"></div>
        <div class="timeline-title position">
          <p>Terra Eclipse</p>
          <span>2011 - Present</span>
        </div>
        <div class="timeline-content">
          <h4>Senior Web Developer</h4>
          <p>
            Developed end-to-end web applications using latest web technologies and standards such as NodeJS, Backbone and Marionette.js. This included content management driven systems as well as modern interactive websites.
          </p>
          <p>Created and deployed complex, fully-featured websites using PHP and Drupal Content Management System, integrating custom programming with existing third-party modules.</p>


        </div>
      </div>
      <div class="timeline-block clearfix">
        <div class="timeline-marker"></div>
        <div class="timeline-title position">
          <p>Freelance</p>
          <span>2009 - 2011</span>
        </div>
        <div class="timeline-content">
          <h4>Web Designer & Developer</h4>
          <p>
            Developed WordPress and handwritten websites for clients on a contract basis.
            Established project scope and designed concepts.
            Private consultation for independent and small business owners.
          </p>
          <p>
            Responsible for regular maintenance and updates to each website.
          </p>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="skills">
  <div class="content-section container">
    <h3 class="section-title">Skills</h3>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <h4 class="section-subtitle">Client-side</h4>
        <ul class="unstyled">
          <li>JavaScript, AJAX, DOM</li>
          <li>Backbone.js, Marionette.js, Angular</li>
          <li>jQuery, Underscore, Require.js</li>
          <li>HTML5, XHTML</li>
          <li>CSS3, LESS, SASS</li>
          <li>JSON, JSONP</li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4">
        <h4 class="section-subtitle">Server-side</h4>
        <ul class="unstyled">
          <li>Node.js, Express, Socket.io</li>
          <li>PHP</li>
          <li>Apache</li>
          <li>Shell Scripting</li>
          <li>Drupal, Wordpress</li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4">
        <h4 class="section-subtitle">Databases</h4>
        <ul class="unstyled">
          <li>MySQL, SQLite</li>
          <li>Mongo</li>
          <li>Redis</li>
          <li>Elastic Search</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <h4 class="section-subtitle">Web Applications Workflows</h4>
        <ul class="unstyled">
          <li>Responsive Design</li>
          <li>Mobile Development</li>
          <li>Single Page Web Apps</li>
          <li>Progressive Enhancement</li>
          <li>Cross-browser Compatible</li>
          <li>SEO</li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4">
        <h4 class="section-subtitle">Production Tools</h4>
        <ul class="unstyled">
          <li>Git version control, Github</li>
          <li>Bower, Grunt, Gulp</li>
          <li>Photoshop, Illustrator, Sketch</li>
          <li>Heroku, Docker</li>
          <li>Sublime Text, Atom, Vim</li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4">
        <h4 class="section-subtitle">Working Environments</h4>
        <ul class="unstyled">
          <li>Mac OS X</li>
          <li>Windows</li>
          <li>Unix, Linux, Ubuntu</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="education-interests">
  <div class="content-section">
    <div class="row">
      <div class="col-md-8">
        <div class="education">
          <h3 class="section-title">Education</h3>
          <h4>Cabrillo College</h4>
          <h5>Web Development Certificate of Achievement</h5>
          <ul class="unstyled">
            <li>Digital Graphics</li>
            <li>Photoshop Techniques Level 1, 2 and 3</li>
            <li>Web Publishing HTML and CSS Level 1, 2 and 3</li>
            <li>Programming Database-Driven Websites With PHP</li>
            <li>Javascript Programming</li>
            <li>UNIX/Linux Shell Programming</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="languages">
          <h3 class="section-title">Languages</h3>
          <ul class="unstyled">
            <li>English</li>
            <li>Spanish</li>
          </ul>
        </div>
        <div class="interests">
          <h3 class="section-title">Interests</h3>
          <p>I live an active lifestyle and like to spend as much time as possible outside.
            My main passion is surfing but I love snowboarding, playing guitar, hiking, camping,
            fishing and enjoying quality time with my wife and son.</p>
        </div>
      </div>
    </div>
  </div>
</section>


