<section class="intro-text">
  <div class="content-section small">
    <h2>Full-stack Web Developer</h2>
    <p>I'm a web developer based in Santa Cruz, California. I like turtles and long walks in the beach.</p>
  </div>
</section>
<section class="background">
  <div class="content-section">
    <img class="profile" src="img/chris.jpg" alt="Chris Madrigal Profile">
    <h3>Background</h3>
    <p>I moved here form Costa Rica eight years ago with my wife.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum libero delectus corrupti doloremque, doloribus ex porro provident! Aspernatur expedita pariatur beatae consectetur nisi obcaecati nemo, minima, autem quam sit sapiente!</p>
  </div>
</section>
<section class="experience">
  <div class="content-section">
    <h3>Experience</h3>
    <div class="timeline">
      <div class="timeline-block clearfix">
        <div class="timeline-marker"></div>
        <div class="timeline-title position">
          <p>Terra Eclipse</p>
          <span>2011 - Present</span>
        </div>
        <div class="timeline-content">
          <h4>Senior Web Developer</h4>
          <p>End-to-end web application development using cutting-edge technologies like NodeJs and Backbone.
            Designing UI and visual design concepts for the online Applications and websites.
            Extensive and deep cross browser debugging.
          </p>

        </div>
      </div>
      <div class="timeline-block clearfix">
        <div class="timeline-marker"></div>
        <div class="timeline-title position">
          <p>Freelance</p>
          <span>2009 - 2011</span>
        </div>
        <div class="timeline-content">
          <h4>Web Designer & Developer</h4>
          <p>End-to-end web application development using cutting-edge technologies like NodeJs and Backbone.
            Designing UI and visual design concepts for the online Applications and websites.
            Extensive and deep cross browser debugging.
          </p>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="skills">
  <div class="content-section">
    <h3>Skills</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, libero accusantium quibusdam corporis ipsum distinctio ipsam minima fugit beatae, molestiae et optio delectus molestias excepturi hic soluta. Quasi tenetur, temporibus animi molestiae eaque illo reprehenderit aliquid quis ex quos, nisi eos recusandae distinctio dolorum dignissimos corporis dolore. Maiores ratione dignissimos ipsum, perferendis molestiae dolores modi inventore reprehenderit, illo fugit provident iste hic placeat facilis cum cupiditate consequuntur laboriosam nemo labore itaque ducimus culpa nam quia magnam. Corrupti repudiandae maxime iste officiis sit aliquid aspernatur consequuntur a dolorem debitis magni hic quam adipisci nisi officia saepe, autem vel voluptatem libero natus.</p>
  </div>
</section>
<section class="education">
  <div class="content-section">
    <h3>Education</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, libero accusantium quibusdam corporis ipsum distinctio ipsam minima fugit beatae, molestiae et optio delectus molestias excepturi hic soluta. Quasi tenetur, temporibus animi molestiae eaque illo reprehenderit aliquid quis ex quos, nisi eos recusandae distinctio dolorum dignissimos corporis dolore. Maiores ratione dignissimos ipsum, perferendis molestiae dolores modi inventore reprehenderit, illo fugit provident iste hic placeat facilis cum cupiditate consequuntur laboriosam nemo labore itaque ducimus culpa nam quia magnam. Corrupti repudiandae maxime iste officiis sit aliquid aspernatur consequuntur a dolorem debitis magni hic quam adipisci nisi officia saepe, autem vel voluptatem libero natus.</p>
  </div>
</section>


