/**
 * Generic.
 */
* {
  .box-sizing();
}

body {
  font-family: @main_font_stack;
  font-weight: 100;
}
header {
  // min-height: 500px;
  background: #000;
  color: #fff;
  background: #314764 url(../img/wave.png) no-repeat center center;
  background-size: cover;
  padding: 100px 0;
  min-height: 458px;

  .logo {
    text-align: center;
  }
  .logo img {
   width: 170px;
   height: auto;
  }
  h1 {
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
  }
}
main {
  .intro-text {
    background: #f4f4f4;
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase;

    p {
      font-weight: 100;
    }
    blockquote {
      font-size: 1.5em;
      color: #000;
      text-transform: none;
      margin-botttom: 20px;
    }
    em {
      font-size: 0.93em;
      line-height: 1.4;
      font-weight: 100;
      color: #909090;
    }
    .dash {
      display: inline-block;
      vertical-align: middle;
      width: 15px;
      border: none;
      border-bottom: 1px solid #CDCDCD;
    }
  }
  .background {
    position: relative;
    padding-top: 50px;

    img.profile {
      position: absolute;
      top: -@profileSize / 2;
      left: 50%;
      margin-left: -@profileSize / 2;
      .size(@profileSize, @profileSize);
      border: 3px solid #fff;
      .rounded(50%);
    }
  }
  .experience {
    background: #343338;
    color: #fff;

    .content-section {
      padding-bottom: 0;
      overflow: hidden;
    }
  }
  .skills {
    h4 {
      color: #B9B9B9;
      font-weight: 300;
      margin-bottom: 10px;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }
  .education {
    background: #f4f4f4;

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
  }
}
