/**
 * Generic.
 */
* {
  .box-sizing();
}

body {
  font-family: @main_font_stack;
  font-weight: 100;
}
h1, h2, h3, h4, h5 {
  font-weight: 300;
}
header {
  // min-height: 500px;
  background: #000;
  color: #fff;
  background: #314764 url(../img/wave.png) no-repeat center center;
  background-size: cover;
  padding: 100px 0;
  min-height: 458px;

  .logo {
    text-align: center;
  }
  .logo img {
   width: 170px;
   height: auto;
  }
  h1 {
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
  }
}
main {
  .intro-text {
    background: @bgLightGray;
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase;

    p {
      font-weight: 100;
    }
    blockquote {
      font-size: 1.5em;
      color: #000;
      text-transform: none;
      margin-botttom: 20px;
    }
    em {
      font-size: 0.93em;
      line-height: 1.4;
      font-weight: 100;
      color: @lightGray;
    }
    .dash {
      display: inline-block;
      vertical-align: middle;
      width: 15px;
      border: none;
      border-bottom: 1px solid @lightGray;
    }
  }
  .background {
    position: relative;
    padding-top: 50px;

    img.profile {
      position: absolute;
      top: -@profileSize / 2;
      left: 50%;
      margin-left: -@profileSize / 2;
      .size(@profileSize, @profileSize);
      border: 3px solid #fff;
      .rounded(50%);
    }
  }
  .experience {
    background: @bgDarkGray;
    color: #fff;

    .content-section {
      padding-bottom: 0;
      overflow: hidden;
    }
  }
  .education-interests {
    background: @bgLightGray;
  }
  .education h4,
  .education h5 {
    margin: 0;
    padding: 0;
  }

  .education h5 {
    margin-bottom: 20px;
    font-size: 0.80em;
    text-transform: uppercase;
    color: #A8A8A8;
    font-weight: 300;
    margin-bottom: 10px;
  }
}
