// Add all your variables here...
@main_font_stack: "effra","Helvetica", sans-serif;
@url: "../img";
@profileSize: 150px;
// Timeline
@timelineBorder: #3b3b3e;
@timelineColor: #5be0d0;
@timelineOffset: 30%;
